/* Style settings for Endless by Tom Genco */

body {
  background-color: #333;
  margin: 0;
  position: absolute;
  font-family: 'Josefin Sans', sans-serif;
}

canvas {
  z-index: 0;
  position: absolute;
}
