/* Style settings for Endless by Tom Genco */

body {
  background-color: #181818;
  margin: 0;
  position: absolute;
  font-family: 'Josefin Sans', sans-serif;
}

h1 {
  position: fixed;
  width: 100%;
  font-size: 200px;
  text-align: center;
  font-weight: 300;
  color: white;
}

canvas {
  z-index: 0;
  position: absolute;
  background-color: #282828;
}
