/* Style settings for Endless by Tom Genco */

body {
  background-color: #181818;
  margin: 0;
  position: absolute;
  font-family: sans-serif;
}

h1 {
  z-index: 1;
  position: fixed;
  width: 100%;
  font-size: 150px;
  text-align: center;
  font-weight: 200;
  color: white;
}

canvas {
  z-index: 0;
  position: absolute;
  background-color: #282828;
}
